<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]

  # If you need to redirect for http://example.com/application/public/a/
  # to http://example.com/a/
  #RewriteCond %{THE_REQUEST} ^(.+?)\s+(.*?)/application/public/(.*?)\s+(.+?)$
  #RewriteRule ^(.*?)$ %2/%3 [R=301,L,NE]
</IfModule>
