/* PunyApp sample css */

body {
  font-family: tahoma, sans-serif;
  margin: 1.5em;
}

.validation-test-form > fieldset {
  display: inline-block;
}

.field {
  margin: 0.5em 1em;
}

.field-name {
  float: left;
  width: 60px;
}

.field-input {
  float: left;
}

.field-error {
  float: left;
  color: red;
  margin-left: 1em;
}

.clearfix:after {
  content: ".";
  display: block;
  width: 0;
  height: 0;
  max-width: 1px;
  max-height: 1px;
  font-size: 0;
  line-height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.error {
  color: red;
  margin-left: 1em;
}

